<div class="bg-natural-95">
    <div class="container py-5 py-md-6  flex-md-nowrap d-md-flex justify-content-md-between ">
        <ul class=" d-flex flex-wrap justify-content-center justify-content-md-start ms--6">
            <li class="py-2 px-4 px-md-5 fs-6"><a href="service.html">服務方案</a></li>
            <li class="py-2 px-4 px-md-5 fs-6">關於職旅</li>
            <li class="py-2 px-4 px-md-5 fs-6">聯絡我們</li>      
            <li class="py-2 px-4 px-md-5 fs-6">隱私權政策</li>
            <li class="py-2 px-4 px-md-5 fs-6">用戶條款</li>   
        </ul>
        <p class=" text-natural-50 text-center py-2 px-1 fs-6">Copyright © 2025 職旅 workway. All rights reserved.</p>
    </div>
</div>