<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom py-3">
  <div class="container">
    <a class="navbar-brand" href="mainpage.html">
        <img src="/assets/images/logo.svg" alt="logo">
    </a>
    <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link" href="service.html">服務方案</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="user.html">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="user.html">聯絡我們</a>
        </li>
      </ul>
    </div> 
    <div >
      <button type="button" class="btn border py-2 px-4" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" aria-controls="exampleModalToggle2">登入/註冊 </button>
          <!-- 登入彈跳視窗 -->
          <div class="modal fade" id="exampleModalToggle" tabindex="-1" aria-labelledby="exampleModalToggleLabel" aria-hidden="true" >
             <div class="modal-dialog modal-dialog-centered modal-xl">
               <div class="modal-content">
                <!-- BODY區 -->
                 <div class="modal-body">
                   <div class="container-fluid">
                     <div class="row">
                        <!-- body 圖片區 -->
                       <div class="d-none col-md-7  d-md-block">
                        <img src="/assets/images/login.png" alt="login">
                       </div>
                       <!-- body 右邊 -->
                       <div class="col-md-5 text-center ">
                        <h2 class="fs-2 py-6 fw-bolder">登入</h2>
                        <!-- login -->
                           <div class="login">
                             <!-- google -->
                             <p class="py-3 fw-bold mb-4 social-me "><a href="#" class="d-block"><img src="/assets/images/google.svg" alt="google" style="width: 30px; height: 30px;" class="align-bottom me-2"> Google</a></p>
                             <!-- dc -->
                             <p class="py-3 fw-bold mb-5 social-me "><a href="#" class="d-block"><img src="https://icon2.cleanpng.com/20231123/kbo/transparent-cartoon-face-blue-background-eyes-mouth-nose-cartoon-face-with-smile-on-blue-1711001010350.webp" alt="discord" style="width: 30px; height: 30px;" class="align-bottom me-2"> Discord</a></p>
                           </div>
                        <!-- password -->
                         <div class="form-floating mb-3 mt-5">
                             <input type="account" class="form-control" id="floatingInput" placeholder="name@example.com">
                             <label for="floatingInput">帳號</label>
                         </div>
                         <div class="form-floating mb-3">
                             <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                             <label for="floatingPassword">密碼<span class="material-icons-outlined align-bottom">visibility_off</span> </label>
                             
                         </div>
                         <!-- forget -->
                          <p class="fs-sm text-end text-natural-50 mb-3">忘記密碼</p>
                          <div class="d-grid gap-2 border-radius-16 mb-6">
                            <button class="btn btn-dark py-3" type="button">送出<span class="material-icons-outlined align-bottom">chevron_right</span></button>
                          </div>
                          <!-- 快速註冊 -->
                           <div>
                               <p class="text-natural-50">不是會員？<a href="#" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" class="text-primary-60 underline">快速註冊</a></p>
                           </div>
                        </div> 
                     </div>                    
                   </div>
                 </div>                 
               </div>
             </div>
          </div>
          <!-- 註冊彈跳視窗 -->
          <div class="modal fade" id="exampleModalToggle2" tabindex="-1" aria-labelledby="exampleModalToggleLabel2" aria-hidden="true" >
             <div class="modal-dialog modal-dialog-centered modal-xl">
               <div class="modal-content">
                <!-- BODY區 -->
                 <div class="modal-body">
                   <div class="container-fluid">
                     <div class="row">
                       <!-- body 右邊 -->
                       <div class="col-md-5 text-center ">
                        <h2 class="fs-2 py-6 fw-bolder">註冊</h2>
                        <!-- login -->
                           <div class="login">
                             <!-- google -->
                             <p class="py-3 fw-bold mb-4 social-me "><a href="#" class="d-block"><img src="/assets/images/google.svg" alt="google" style="width: 30px; height: 30px;" class="align-bottom me-2"> Google</a></p>
                             <!-- dc -->
                             <p class="py-3 fw-bold mb-5 social-me "><a href="#" class="d-block"><img src="https://icon2.cleanpng.com/20231123/kbo/transparent-cartoon-face-blue-background-eyes-mouth-nose-cartoon-face-with-smile-on-blue-1711001010350.webp" alt="discord" style="width: 30px; height: 30px;" class="align-bottom me-2"> Discord</a></p>
                           </div>
                        <!-- password -->
                         <div>
                             <div class="form-floating mb-3 mt-5">
                                 <input type="account" class="form-control" id="floatingInput" placeholder="name@example.com">
                                 <label for="floatingInput">帳號</label>
                             </div>
                             <div class="form-floating mb-3">
                                 <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                 <label for="floatingPassword">密碼 <span class="material-icons-outlined align-bottom">visibility_off</span></label>
                             </div>
                             <div class="form-floating mb-3">
                                 <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                 <label for="floatingPassword">密碼 <span class="material-icons-outlined align-bottom">visibility_off</span></label>
                             </div>
                             <div class="form-floating mb-3">
                                 <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                 <label for="floatingPassword">確認密碼 <span class="material-icons-outlined align-bottom">visibility_off</span></label>
                             </div>
                         </div>
                         <!-- agree checkbox -->
                          <div class="mb-4 form-check text-start ">
                             <input type="checkbox" class="form-check-input " id="exampleCheck1">
                             <label class="form-check-label pt-10" for="exampleCheck1">我同意 <a href="#" class="text-primary-60 underline">服務條款</a>和<a href="#" class="text-primary-60 underline">隱私政策</a></label>
                          </div>
                          <!-- forget -->
                           <div class="d-grid gap-2 border-radius-16 mb-6">
                           <button class="btn btn-dark py-3" type="button">送出<span class="material-icons-outlined align-bottom">chevron_right</span></button>
                          </div>
                          <!-- 快速註冊 -->
                           <div>
                               <p class="text-natural-50 mb-6">已經是會員？<a href="#" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal" class="text-primary-60 underline">直接登入</a></p>
                           </div>
                           </div> 
                           <!-- body 圖片區 -->
                          <div class="d-none col-md-7  d-md-block">
                           <img src="/assets/images/register.png" alt="register">
                          </div>
                     </div>                    
                   </div>
                 </div>                 
               </div>
             </div>
          </div>

          
    </div>

   
  </div>
</nav>